<mdb-carousel class="carousel slide carousel-fade"
              [type]="'carousel-thumbnails'"
              [animation]="'fade'"
              >
  <mdb-carousel-item>
    <img class="d-block w-100 img-fluid" src="\assets\images\starry_night.jpg" alt="First slide" style="height: 60vh;">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="\assets\images\paint.webp" alt="Second slide" style="height: 60vh;">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="\assets\images\squiggle.webp" alt="Second slide" style="height: 60vh;">
  </mdb-carousel-item>
</mdb-carousel>

