.body {
  margin: 0;
  padding: 0;
}

#background {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#picture-half {
  width: 50vw;
  height: 100vh;
}

#parent {
  width: 100vw;
  display: grid;
  place-items: center;
}

#check {
  display: grid;
  place-items: center;
}

.login-form {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.btn {
  width: 10vw;
  border: 0;
  border-radius: 50px;
}
