<app-navigation></app-navigation>
<div class="container">
  <h2>Add New Product</h2>
  <form [formGroup]="form" (ngSubmit)="addProduct()">
    <label for="name">Product Name:</label>
    <input type="text" id="name" formControlName="name" required>
    <label for="description">Product Description:</label>
    <input type="text" id="description" formControlName="description" required>
    <label for="price">Product Price:</label>
    <input type="number" id="price" formControlName="price" required>

    <button type="submit">Add Product</button>
  </form>

  <h2>All Products</h2>
  <div *ngFor="let item of products" class="cart-item">
    <div class="cart-item-details">
      <div class="product-details">
        <p class="item-name">{{ item.name }}</p>
        <p class="item-description">{{ item.description }}</p>
      </div>
      <p class="item-price">{{ item.price }}</p>
      <button class="remove-btn" (click)="removeProduct(item)"><span class="far fa-remove"></span></button>
    </div>
  </div>
</div>
