.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  margin: 30px 10px 10px;
  font-size: 50px;
  font-family: "Palatino Linotype", sans-serif;
  text-transform: capitalize;
  color: #BC6C25;
}

h2 {
  margin: 30px 10px 10px;
  font-size: 30px;
  font-family: "Palatino Linotype", sans-serif;
  text-transform: capitalize;
  color: #BC6C25;
}

form {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  display: flex;
}

input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #BC6C25;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Palatino Linotype', serif;
}

.add-btn {
  background-color: #BC6C25;
  margin-left: auto;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Palatino Linotype', serif;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  background-color: #DDA15E;
}

p {
  color: #BC6C25;
  text-transform: uppercase;
  font-family: 'David Libre', serif;
}

.product {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  display: flex;
  flex-direction: row;
}

.product-image {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.product-details {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details {
  width: 200px;

  p {
    margin: 0;
    font-size: 15px;
  }

  .item-description {
    font-size: 10px;
  }
}

.product-price {
  margin: 10px 10px 10px 20px;
}

.remove-btn {
  border: none;
  background-color: white;
  font-size: 30px;
  margin-left: auto;
  color: #BC6C25;
}

.remove-btn:hover {
  color: #DDA15E;
}
