<app-navigation></app-navigation>
<div class="container">
  <h1>Manage Products</h1>
  <form [formGroup]="form" (ngSubmit)="addProduct()">
    <input
      type="text"
      id="name"
      formControlName="name" required
      placeholder="NAME"
    >
    <input
      type="text"
      id="description"
      formControlName="description" required
      placeholder="DESCRIPTION"
    >
    <input
      type="number"
      id="price"
      formControlName="price" required
      placeholder="PRICE"
    >
    <button class="add-btn" type="submit">Add Product</button>
  </form>

  <h2>All Products</h2>
  <div *ngFor="let item of products" class="product">
    <img [src]="'assets/images/' + item.id + '.jpg'" alt="{{ item.name }}" class="product-image" />
    <div class="product-details">
      <div class="details">
        <p class="product-name">{{ item.name }}</p>
        <p class="product-description">{{ item.description }}</p>
      </div>
      <p class="product-price">€{{ item.price }}</p>
      <button class="remove-btn" (click)="removeProduct(item)"><span class="far fa-remove"></span></button>
    </div>
  </div>
</div>
