<app-navigation></app-navigation>

<section class="hero">
  <img src="\assets\images\paint.webp" alt="Hero Image" style="height: 25rem">
  <div class="button-container">
    <h1>Welcome to GoldFish Art Supplies</h1>
    <a href="/#/products" class="button btn-shop">EXPLORE NOW</a>
  </div>
</section>

<div class="container">
  <h2>Highlighted Products</h2>
  <div class="scrolling-wrapper">
    <div *ngFor="let product of products" class="card">
      <img [src]="product.image" alt="{{ product.name }}" class="product-image"/>
    </div>
  </div>

  <section class="contact">
    <h2>Contact Us</h2>
    <p>Have questions or need assistance? Reach out to our friendly team.</p>
    <a href="#" class="button btn-contact">CONTACT US</a>
  </section>
</div>

<footer>
  <p>&copy; 2024 Your Art Supplies Shop. All rights reserved.</p>
</footer>
